.react-calendar {
    border: none;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    font-size: smaller;
  }
  .react-calendar__tile--active {
    background: black !important;
    color: white !important;
    border-radius: 50%;
  }
  /* Navigation buttons */
.react-calendar__navigation button {
  color: #000;
  background: #dfebfc;
  border: none;
 border-radius: 10%;
  margin: 2px;
  cursor: pointer;
  font-size: smaller;
  font-weight: bold;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  cursor: default;
}